# Node
node_modules/
dist/
.env
.env.local
.env.production

# NestJS build
apps/api/dist/

# Vite build
apps/web/dist/

# Flutter
apps/mobile/.dart_tool/
apps/mobile/build/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/.packages
apps/mobile/pubspec.lock

# OS
.DS_Store
*.log
